html,
body,
* {
	font-family: "microsoft yahei";
	margin: 0;
	padding: 0;
}

body {
	background: #F9F9F9;
}
a,a:hover,a:focus{
	/*color: #FFFFFF;*/
	text-decoration: none;
} 

/*input{outline:none;;box-shadow: none;border: none;}
input:focus{outline:none;box-shadow: none;border: none; }*/
hr{
	margin-top: 5px;
	margin-bottom: 5px;
}

.glyphicon{
	font-family: 'Glyphicons Halflings';
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}

p {
	color: #777;
}

li{
	list-style: none;
}
/*.container{width:100%;}*/
/*a,
a:hover,
a:focus {
	color: #30a5ff;
}*/

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #5f6468;
}

h1 {
	font-weight: 300;
	font-size: 40px;
}

h2 {
	font-weight: 300;
	margin-bottom: 20px;
}

h3,
h4 {
	font-weight: 300;
}
.row{margin-right:0px;margin-left:0;}
.panel {
	margin-bottom: 20px;
}
.panel-default>.panel-heading{
	padding: 8px 8px 5px 8px;
}
.panel-default>.panel-heading i{
	font-size: 16px;
}


.table-bordered>tbody>tr>td,
.table-bordered>thead>tr>th{
	padding: 4px 8px;
}
/*导航条*/
/*.index-nav{
	display: inline;
}*/
.nav-container{width:100%;background: #FFFFFF; }
.index-nav .navbar-header {
margin-left:0px;
text-align: left;
display: inline;
float: left;
}
.navbar-header img{
	/*width:100%;*/
	/*height: 100%;*/
	padding:4px 0px;
	vertical-align: middle;
}
.index-nav .navbar-header span{
	font-size: 24px;
	color:#000000;
	margin-left:10px;
	padding:22px 0px;
	vertical-align: middle;
	font-weight: normal;
}

.index-nav .navbar-header .navbar-nav{
	right: 20px;
    float: right;
    display: inline-block;
    position: absolute;
    top: 0px;
    margin: 0 auto;
	}
.index-nav .navbar-header .navbar-nav li{
	display: inline-block;
	margin:0 auto ;
	/*margin-left:10px;*/
	
}
.index-nav .navbar-header .navbar-nav li img{
	/*vertical-align: middle;*/	
}
.index-nav .navbar-header .navbar-nav li a{
	color:#000000;
	font-size: 16px;	
}
/*.navbar-nav .nav-li{
	border-left: 1px solid #888888;
	padding-left: 4px;
}*/
.navbar-nav .nav-li-or{
	border:none;
	color:#E9984E;
}
.secondary{
	margin-top: 60px;
	background-color: #FFFFFF;
	margin-bottom: 10px;
	height: auto;
}
.secondary>div{margin-left: 10px;display: inline-block;margin-top: 5px;margin-bottom: 5px;}

.secondary>div>span{vertical-align: middle; font-size: 16px;} 
.secondary>div>span>font{color:#45c8dc;}  
.secondary .filter{float: right;}
.secondary .filter>ul li{float: left;display: inline-flex;margin-left: 20px;}
.secondary .filter>ul li select{margin-right: 5px; width:100px;height: 30px;margin-bottom: 4px;}
.secondary .filter>ul li .bggrey{color:#c3c3c4;}
.secondary .filter>ul li ul li{margin-left: 5px;padding:3px 5px;border: 1px solid #DDDDDD;cursor: pointer;}
.mainCONTENT{
	background-color: #F9F9F9;
	height: auto;
    margin: 0 auto;
    margin-top: 60px;
    padding-left: 0px;
    padding-right: 0px;
}
.ltab p{
	color:#FFFFFF;
}
.mainCONTENT .ltab{
	margin: 0 auto;
	height: auto;
	background-color:#644B3C;
}

.tabhead {
	width:100%;
	height: 30px;
	/*padding-left: 0px;
    padding-right: 0px;
	border-bottom: 1px solid #080808;*/
}
.box-panel {
		width: 100%;
}
.box-panel .box-list{
	height: 80px;
	margin: 0 auto;
	text-align: center;
	/*display: table*/
}
.list-cell{
	width:100%;
	/*display: table-cell;*/
	vertical-align: middle;
}
.box-list .list-cell img{
	vertical-align: middle;
}
.box-list:hover, .box-list:focus{
	background-color:#E9984E ;
}
.navbar-nav>li {
    float: initial;
}
.navbar-nav>li {
    float: initial;
}
/*.nav-tabs .active{
	background-color:#E9984E ;
}*/
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #FFFFFF;
    cursor: default;
    background-color: #E9984E;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.tab-content {
	margin: 0 auto;
	margin-top: 20px;
}
.tab-head{
	display: inline-block;
}
.tab-content .listline{
	border-left:2px solid #E9984E;
	padding-left: 6px;
	font-size: 16px;
}
.tab-head ul{
	float: right;
}

.tab-head ul li{
	/*float: right;*/
	display: inline-block;
}

.tab-body{
	margin: 0 auto;
	width:100%;
	/*text-align: center;*/
	margin-top: 10px;
	padding-left: 20px;
	display: inline-block;
	border:1px solid #C3C3C4;
	margin-bottom: 10px;
}
.b-block{
	margin-right: 10%;
	display: inline-block;
	padding-top: 20px;
	text-align: right;
	padding-bottom: 20px;

}
.b-block label{
	width:80px;/*使label文字右对齐的重要条件*/
	text-align: right;
}
.b-block input{
	height:30px;
	width:300px;
}
.b-block select{
	height:30px;
	width:170px;
}
.b-block label font{
	color: #D43F3A;
}
.radiolist input{
	width:20px;
	height:20px ;
	vertical-align: text-bottom;
}
.b-block .nling{
	width:40px;
}
.radiolist .listname{
	width: 600px;
	height: 30px;
}	




















.mainCONTENT .tbtab{	
	margin: 0 auto;
}
.mainCONTENT .tbtab .table{
	/*margin-bottom: 10px;*/
	border:1px solid #eef1fa;
	color: #6c6c6d;
	overflow-y:auto;
}
.mainCONTENT .tbtab table th{
	background-color: #fafbfe;
	text-align: left;
	font-size: 16px;
	font-weight: normal;
	color:#3c3c3c;
	border:none;
}
.mainCONTENT .tbtab table td{
	text-align: left;
	border-bottom: 1px solid #eef1fa;
	padding-top: 4px;
	padding-bottom: 4px;
}
.mainCONTENT .tbtab table td img{
	vertical-align: middle;
	padding-left: 6px;
	padding-right: 6px;
}


.tableMb{
	max-width: 1280px;
	max-height: 330px;
	overflow:auto;
}
.tableMb::-webkit-scrollbar {
  width: 3px;
  height:4px;
}
.tableMb::-webkit-scrollbar-thumb {
  background-color:#45D89A;
}
.table2 {
	max-width: 1280px;	
	overflow-x:scroll;
}
.tablesor{
	width: 1480px;
}
/*append-situation*/
.barChart{
	    border: 1px solid #eef1fa;
	    height:190px;
}
.tableBox {
	/*max-height: 200px;
	overflow-y:auto;*/
	margin-bottom: 10px;
}
.table-box{
	max-height: 200px;
	overflow-y:auto;
}
.panel1{
	background-color: #FFFFFF;
	margin-bottom: 16px;
}
.panel2{
	background-color: #FFFFFF;
}
.tableBox::-webkit-scrollbar {
  width: 3px;
  height:4px;
}
.tableBox::-webkit-scrollbar-thumb {
  background-color:#45D89A;
}
.table-box::-webkit-scrollbar {
  width: 3px;
  height:4px;
}
.table-box::-webkit-scrollbar-thumb {
  background-color:#45D89A;
}
.treegrid-expander-expanded {
    background-image: url(../img/arrow-down1.png) !important;
}

.treegrid-expander-collapsed{background-image: url(../img/arrow-right.png) !important;}
.treegrid-expander {
    width: 5px !important;
    height: 9px !important;   
    margin-right: 6px; 
}
/*identity*/
.table1{
	max-width: 1280px;	
	overflow-x:scroll;
}
.shupt{
	border: 1px solid rgb(169, 169, 169);
	height: 30px;
}
.btn-blue{
	padding: 4px 10px;
	background-color: #00BFB4;
	color:#FFFFFF;	
}
.shupt:hover, .shupt:focus{
	border: 1px solid rgb(169, 169, 169);	
}

